

{{>head}}
{{>navbar}}

<div class = "row">
    <div class="col-8">
        <h1>HOLA ABOUT</h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptatem, eaque voluptate quod atque, unde laudantium cum fugiat tempora dolorum eligendi maxime optio ut molestiae. Voluptatum magni non exercitationem consectetur.</p>

    <div class="col-4">
        <img src="assets/img/Captura.PNG" class="img-thumbnail">
    </div>
     

</div>

{{> foot}}